---
import "../styles/about.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <base href={import.meta.env.BASE_URL} />
        <title>About Me | John Wu</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        />
    </head>
    <body>
        <div class="header">
            <h1>Hi again! I'm John Wu.</h1>
            <h2>Nice to meet you!</h2>
        </div>
        <div class="container">
            <div class="content">
                <section>
                    <p>
                        I'm a passionate software engineer and a Sc.M. Computer
                        Science candidate at Brown University, where I also
                        completed my Sc.B. in Computer Science. Over my time at
                        Brown, I've contributed as a course developer and head
                        teaching assistant for several courses, including CS1440
                        - Algorithmic Game Theory. These roles have given me the
                        opportunity to design engaging and interactive learning
                        experiences, from crafting problem sets to building
                        tools that enhance how students interact with complex
                        topics. Through this work, I've sharpened my ability to
                        break down challenging material into accessible
                        concepts, empowering students to approach difficult
                        subjects with confidence and curiosity.
                    </p>

                    <p>
                        Beyond academia, my most recent professional experience
                        was as an Investment Engineer Intern at Bridgewater
                        Associates, where I built diagnostic and analytical
                        tools for their portfolio implementation team. This role
                        gave me hands-on exposure to solving complex problems at
                        the intersection of technology and finance, while also
                        honing my skills in communication, collaboration, and
                        building scalable solutions for larger challenges. I've
                        also developed valuable expertise in software
                        engineering through projects and internships at
                        companies like Smartsheet. To learn more about my other
                        professional experiences in detail, please check out the
                        resume icon to the left!
                    </p>

                    <p>
                        Otherwise, in my own time, I'll usually be working on
                        new projects and reading up on new technologies and
                        areas of study that interest me. I love learning new
                        things and creating new tools for myself and for the
                        people around me. My current interests include
                        advancements in machine learning, natural language
                        processing, using data to understand the world, and
                        infrastructure development.
                    </p>
                </section>
            </div>
            <div class="profile">
                <img src="/profile.png" alt="John Wu" />
                <ul class="social-links">
                    <li>
                        <a
                            href="https://www.linkedin.com/in/john-wu-251200168/"
                            target="_blank"
                        >
                            <i class="fab fa-linkedin"></i> LinkedIn
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/JohnUUU" target="_blank">
                            <i class="fab fa-github"></i> GitHub
                        </a>
                    </li>
                    <li>
                        <a
                            href="mailto:john_w_wu@brown.edu"
                            class="email"
                            target="_blank"
                        >
                            <i class="fas fa-envelope"></i> Contact Me
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
