---
import Taskbar from "../components/Taskbar.astro";
import ContextMenu from "../components/ContextMenu.astro";

import "../styles/global.css";
import "../styles/desktop.css";
import "../styles/taskbar.css";
import "../styles/menu.css";
import "../styles/window.css";
import "../styles/startmenu.css";
---

<html>
	<head>
		<link rel="icon" href="/icons/glider.png?v=1" type="image/x-icon" />
		<script>
			localStorage.clear();
		</script>
		<script src="https://cdn.jsdelivr.net/npm/dompurify/dist/purify.min.js"
		></script>
		<title>Home | John Wu</title>
		<script src="../scripts/taskbar.ts"></script>
		<script src="../scripts/desktop.ts"></script>
		<script src="../scripts/draggable.ts"></script>
		<script src="../scripts/iconManager.ts"></script>
		<script src="../scripts/contextMenu.ts"></script>
		<script src="../scripts/startMenu.ts"></script>
	</head>
	<body>
		<div class="desktop"></div>
		<Taskbar />
		<ContextMenu />
	</body>
</html>
