---
const timeId = "time-display";
---

<script src="/src/scripts/taskbar.ts" type="module"></script>
<div class="taskbar">
    <div class="taskbar-tabs-container">
        <div class="taskbar-tabs">
            <button class="taskbar-tab" id="start-menu-button">
                &#127828; Start Menu
            </button>
        </div>
        <button class="overflow-btn">...</button>
        <div class="overflow-menu"></div>
    </div>

    <div class="time-display" id={timeId}></div>
</div>
