---
const { frontmatter } = Astro.props;
const { title, description } = frontmatter;

import "../styles/article.css";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title} | John Wu</title>
        <link rel="icon" href="/icons/glider.png?v=1" type="image/x-icon" />
        <base href={import.meta.env.BASE_URL} />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css"
        />
    </head>
    <body tabindex="0">
        <header class="article-header">
            <h1 class="article-title">{title}</h1>
            <p class="article-description">{description}</p>
        </header>
        <main class="article-content">
            <slot />
        </main>
        <script src="../scripts/carousel.ts"></script>
    </body>
</html>
